# [<download-url>]
# Download directly from a provided URL instead of fetching the URL from the wordpress.org servers.
WORDPRESS_CORE_DOWNLOAD_URL=
# [--path=<path>]
# Specify the path in which to install WordPress. Defaults to current directory.
# Not used. Specify in .env file
# WORDPRESS_CORE_DOWNLOAD_PATH=
# [--locale=<locale>]
# Select which language you want to download.
# Example ...
# 英語（アメリカ）: en_US
# 日本語: ja
# ドイツ語: de_DE
# フランス語: fr_FR
# スペイン語: es_ES
WORDPRESS_CORE_DOWNLOAD_LOCALE=
# [--version=<version>]
# Select which version you want to download. Accepts a version number, ‘latest’ or ‘nightly’.
WORDPRESS_CORE_DOWNLOAD_VERSION=
# [--skip-content]
# Download WP without the default themes and plugins.
WORDPRESS_CORE_DOWNLOAD_SKIP_CONTENT=true
# [--force]
# Overwrites existing files, if present.
WORDPRESS_CORE_DOWNLOAD_FORCE=false
# [--insecure]
# Retry download without certificate validation if TLS handshake fails. Note: This makes the request vulnerable to a MITM attack.
WORDPRESS_CORE_DOWNLOAD_INSECURE=false
# [--extract]
# Whether to extract the downloaded file. Defaults to true.
WORDPRESS_CORE_DOWNLOAD_EXTRACT=false