# <slug> The internal name of the plugin.
# WORDPRESS_PLUGIN_SLUG=

# [--dir=<dirname>] Put the new plugin in some arbitrary directory path. Plugin directory will be path plus supplied slug.
# WORDPRESS_PLUGIN_DIR=

# [--plugin_name=<title>] What to put in the ‘Plugin Name:’ header.
# WORDPRESS_PLUGIN_NAME=

# [--plugin_description=<description>] What to put in the ‘Description:’ header.
# WORDPRESS_PLUGIN_DESCRIPTION=

# [--plugin_author=<author>] What to put in the ‘Author:’ header.
# WORDPRESS_PLUGIN_AUTHOR=

# [--plugin_author_uri=<url>] What to put in the ‘Author URI:’ header.
# WORDPRESS_PLUGIN_AUTHOR_URL=

# [--plugin_uri=<url>] What to put in the ‘Plugin URI:’ header.
# WORDPRESS_PLUGIN_URI=

# [--skip-tests] Don’t generate files for unit testing.
# WORDPRESS_PLUGIN_SKIP_TEST=true

# [--ci=<provider>] Choose a configuration file for a continuous integration provider. -– default: travis options: – travis – circle – gitlab -–
# WORDPRESS_PLUGIN_CI_PROVIDER=false

# [--activate] Activate the newly generated plugin.
# WORDPRESS_PLUGIN_ACTIVATE=true

# [--activate-network] Network activate the newly generated plugin.
# WORDPRESS_PLUGIN_ACTIVATE_NETWORK=false

# [--force] Overwrite files that already exist.
# WORDPRESS_PLUGIN_FORCE=false