# <slug>
# The slug for the new theme, used for prefixing functions.
WORDPRESS_DEVELOPMENT_SLUG=

# [--activate]
# Activate the newly downloaded theme.
WORDPRESS_THEME_ACTIVATE=true

# [--enable-network]
# Enable the newly downloaded theme for the entire network.
WORDPRESS_THEME_ENABLE_NETWORK=false

# [--theme_name=<title>]
# What to put in the ‘Theme Name:’ header in ‘style.css’.
WORDPRESS_THEME_NAME=

# [--author=<full-name>]
# What to put in the ‘Author:’ header in ‘style.css’.
WORDPRESS_THEME_AUTHOR=

# [--author_uri=<uri>]
# What to put in the ‘Author URI:’ header in ‘style.css’.
WORDPRESS_THEME_AUTHOR_URI=

# [--sassify]
# Include stylesheets as SASS.
WORDPRESS_THEME_SASSIFY=true

# [--woocommerce]
# Include WooCommerce boilerplate files.
# maybe it`s mean auto generator files
WORDPRESS_THEME_WOOCOMMERCE=true

# [--force]
# Overwrite files that already exist.
WORDPRESS_THEME_FORCE=false