.vscode/
.ionide/

# DevTools
src/backend/*
!src/backend/.gitkeep
src/frontend/*
!src/frontend/.gitkeep
wordpress/*
!wordpress/.gitkeep

# wordpress
.env
docker/php/wordpress.plugins.env
docker/php/wordpress.themes.env
docker/php/wordpress.core.env

docker/nginx/logs/*
docker/nginx/logs/access.log
docker/nginx/logs/error.log
